# -*- conf -*-

[user]
    name = Chris Poole
    email = chrispoole@uk.ibm.com

[alias]
    st = status
    ca = commit -a
    co = checkout
    wc = whatchanged
    pl = log --graph --oneline

[status]
    showUntrackedFiles = no

[core]
    editor = emacsclient
    quotepath = false

[color]
    ui = true

[push]
    default = simple
[credential]
    helper = cache