# -*- conf -*-

[user]
    name = Chris Poole
    email = chris@chrispoole.com

[alias]
    st = status
    ca = commit -a
    co = checkout
    wc = whatchanged

[status]
    showUntrackedFiles = no

[core]
    editor = e
    quotepath = false

[color]
    ui = true

[push]
    default = simple
[credential]
    helper = cache